# Plats för lösenord och nycklar som behövs i Django men som inte ska vara på Github
DJANGO_SECRET = 'ladda-ner-secret-fran-https://djecrety.ir/-eller-generera-egen-i-keepass'
NORECAPTCHA_SITE_KEY = '<recaptcha-site-key>'
NORECAPTCHA_SECRET_KEY = '<recaptcha-secret-key>'

DB_NAME = "db_name"
DB_USERNAME = "username"
DB_PASSWORD = "12345"
DB_HOST = "db.server.tld"

EMAIL_HOST = "smtp.server.tld"
WEB_HOST = "localhost"

ALLOWED_HOSTS = [
    '.localhost',
    '127.0.0.1',
    ".server.tld",
]
