*.pyc
*.pyo
*.userprefs
*.pidb
*.swp
*~
.installed.cfg
.DS_Store
/*.db
MANIFEST
bin/
src/
include/
lib/
build/
dist/
_pollster_tile_cache/
.settings/
local/
.idea/
ubuntu-*.log
venv/
secrets.py
localsecrets.py
prodsecrets.py
testsecrets.py
