{% extends "hrpt-responsive/singlecol.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block col1 %}
    {% if validlink %}
        <h1>{% trans "Enter new password" %}</h1>
        <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

        <form action="" method="post" id="registration">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="button" value="{% trans "Change my password" %}">
        </form>
    {% else %}
        <h1>{% trans "Password reset unsuccessful" %}</h1>

        <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
    {% endif %}
{% endblock %}
