{% extends "base/blankbase.html" %}
{% load i18n static %}

{% block title %}
    {{ block.super }}: {% trans "Register" %}
{% endblock %}

{% block add_js %}
    <script type="text/javascript" src="{% static "js/jquery-3.2.1.min.js" %}"></script>
{% endblock add_js %}


{% block content %}
    <h1>{% trans "Registration Form" %}</h1>
    <p class="registration-footnote">{% trans "Registration requires ID-code." %}</p>
    {% trans "register" %}
    {% spaceless %}
        <form method="post" id="registration">{% csrf_token %}
            {{ form.as_p }}
            <p>
                <input type="submit" id="boxsubmit" value="{% trans "Register" %}"/>
            </p>
        </form>
    {% endspaceless %}
{% endblock content %}

