[Unit]
Description=HRPT Mail sending deamon

[Service]
DefaultEnvirontment=/etc/profile.d/hrpt.sh
WorkingDirectory=/var/www/hrpt/
ExecStart=/var/www/hrpt/scripts/start_mail_sending_daemon.sh
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
