[Unit]
Description=HRPT Mail sending deamon

[Service]
WorkingDirectory=/var/www/hrpt/
ExecStart=/var/www/hrpt/scripts/start_mail_sending_daemon.sh
KillMode=control-group
Restart=on-failure

[Install]
WantedBy=multi-user.target
