# This file is intended to contain any configuration secrets that should be
# kept out of git. Settings could be added to this file in the same manner as
# a regular settings file. The name should then be changed to settings.py.

# Example:
# SECRET_KEY = 'thisprobablynotaverygoodsecretkey'
# NORECAPTCHA_SITE_KEY = '<recaptcha-site-key>'
# NORECAPTCHA_SECRET_KEY = '<recaptcha-secret-key>'
